/*--css--*/ 
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0 20%;
	background-color: #dc75f9;
}
.clear {
	clear: both;
}
h1 {
	width: 50%;
	float: left;
}
img {
	width: 50%;
	float: left;
}