<style>
a href {
	 "www.cockerspaniel.com}
 div.top { background-color: light purple ;
 	padding:250 px;
    Background- background-image:url:(dogs.jpeg)
    background-repeat:no-repeat;
     background-size:100% auto;
 }
div.left 
{background-color:blue;
width: 50%;
float:left;
display:block;
opacity: 45%;

}